@charset "UTF-8";


.footer_info {
    bottom: 0;
    width: 100%;
    background-color: black;
    opacity: 0.88;
    padding: 10px 20px; /* 상하좌우 여백 설정 */
    margin: 0; /* 상단 여백 제거 */
}

.footer_link li {
	display : inline-block;
	list-style : none;
	padding : 0px 10px 0px 10px;
	margin-left : -45px;
	margin-right : 50px;
	
}
.footer_link li  a{
	text-decoration : none;		/*	밑줄 제거		*/
	color : white;
	
}
.footer_info_customer {
	background-color : black;
	opacity: 0.88;
	color : white;	
}
.footer_info_company {
	color : grey;
}